:root {
    --rich-black-fogra-29: #001021ff;
    --warm-black: #034748ff;
    --star-command-blue: #1481baff;
    --cyan-process: #11b5e4ff;
    --cerulean-crayola: #0caadcff;

    --dkdkblue: #5680e9;
    --dkblue: #5ab9ea;
    --lightblue: #84ceeb;
    --gray: #c1c8e4;
    --purple: #8860d0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--dkdkblue);
    background: linear-gradient(20deg, rgb(5, 15, 78) 0%, rgb(31, 108, 201) 75%, rgba(184,202,244,1) 100%);
    background: linear-gradient(20deg, rgb(2, 7, 39) 0%, rgb(31, 108, 201) 75%, rgba(184,202,244,1) 100%);
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    color: white;
}

table td, table tr, table th{
    color: white;
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
}

.plan:hover{
    background-color: #ffb703;
    cursor: pointer;
}

table thead {
    background-color: var(--star-command-blue);
}

table tbody {
    background-color: var(--cyan-process);
}

.bang1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cau1 {
    width: 80%;
}

.bang2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cau2 {
    width: 80%;
}

.c1title {
    display: flex;
    justify-content: center;
    width: 80%;
    text-align: center;
}

.ccontainer {
    display: flex;
    justify-content: center;
}

.c2title {
    display: flex;
    justify-content: center;
    width: 80%;
    text-align: center;
}

.c2title h2 {
    text-align: center;
}

ul li {
    list-style-type: none;
}

.bang2 tbody td {
    text-align: left;
}

.bang2 tbody td:first-child {
    text-align: center;
}

.bang2 tbody td:nth-child(2){
    background-color: limegreen;
}

.bang2 tbody td:nth-child(3){
    background-color: orange;
}

.bang2 .cau2 thead tr:first-child {
    background-color: var(--dkdkblue);
}

.bang2 .cau2 .uu {
    background-color: rgb(49, 192, 49);
}

.bang2 .cau2 .nhuoc{
    background-color: rgb(227, 151, 11);
}

.bang2 tbody ul{
    padding: 10px;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100px;
}

.nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.q1, .q23, .q4 {
    font-size: large;
    padding: 0px 10px;
    font-weight: bold;
}


.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.navigation a:hover {
    color: purple;
    
}

.logo {
    text-align: center;
}

.rainbow-text {
    color: #f5f5f5;
    text-shadow: 0px -2px 4px #fff, 0px -2px 10px #FF3, 0px -10px 20px         #F90, 0px -20px 40px #C33;
    text-shadow: 0px -2px 4px #fff, 0px -2px 10px rgb(51, 224, 255), 0px -10px 20px         rgb(0, 166, 255), 0px -20px 40px rgb(51, 110, 204);
    font-size: 50px;  
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container {
        display: flex;
        flex-direction: column;
    }
    .container .nav {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .container .header {
        height: 200px;
    }
    .q1, .q23, .q4 {
        text-align: center;
    }
    .bang2 {
        display: flex;
    }
}

.bubbles img {
    width: 50px;
    animation: bubble 7s linear infinite;
}

.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -300px;
}

.bubbles2 img {
    width: 50px;
    animation: bubble 7s linear infinite;
}

.bubbles2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -1650px;
}

@keyframes bubble {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
    width: 20px;
}
.bubbles img:nth-child(7){
    animation-delay: 7s;
    width: 35px;
}

.bubbles2 img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubbles2 img:nth-child(2){
    animation-delay: 1s;
}
.bubbles2 img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
}
.bubbles2 img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbles2 img:nth-child(5){
    animation-delay: 3s;
}
.bubbles2 img:nth-child(6){
    animation-delay: 6s;
    width: 20px;
}
.bubbles2 img:nth-child(7){
    animation-delay: 7s;
    width: 35px;
}

.jellyfish img {
    width: 200px;
    animation: jelly 7s linear infinite;
}

@keyframes  jelly{
    0%{
        transform: translateY(8vh);
        opacity: 1;
    }
    50%{
        opacity: 1;
        transform: translateY(-8vh);
    }
    100%{
        transform: translateY(8vh);
        opacity: 1;
    }
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contributor {
    width: 80%;
}

.contributor ul li {
    text-align: center;
}

.logo:hover {
    cursor: pointer;
}